* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  /* background-image: linear-gradient(to right,#a517ba,#5f1782); */
  background-color: #005b96;
  padding: 0 !important ;
}
.navbar-image {
  height: 150px;
  padding: left 30px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar p {
  padding-left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-toggler-icon {
  color: #fff;
  font-size: 30px !important;
}
.navbar-toggler-icon {
  outline: none !important;
}

/*--------------banner-------------*/

#banner {
  background-image: url("images/building.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 5%;
  height: 600px;
}
.promo{
  display:block;
  background-color:rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  margin-left: 380px;
}
.promo-title {
 
  font-size: 35px;
  font-weight: 600;
  color: #005b96;
  text-align: center;
  margin-top: 100px;
}
.promo-content
{
  font-size: 25px;
  text-align: center;
  color: #005b96;
}
.play-btn {
  width: 45px;
  margin: 20px;
}
#banner a {
  color: #fff;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}

/*----------------service section ----------*/

#services {
  padding: 80px 0;
  text-align: center;
  align-items: center;
}
.service-img {
  width: 100px;
  margin-top: 20px;

}
.services {
  padding: 20px;
}
.services h4 {
  padding: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}
.title::before {
  content: "";
  background: #005b96;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background: #005b96;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: #005b96;
}
/* -----------------------Why Choose us ------------*/

#why-us {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: left;
}

.why-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#why-us ul li {
  margin: 10px 0;
}
#why-us ul {
  margin-left: 20px;
}
.signboardimg
{
  width: 100%;
  height: auto;
  padding-top: 50px;
}

/*---------------About us -------------*/

#about-us {
  margin: 100px 0;
}
.about-us {
  border-left: 4px solid #005b96;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*-----------SOCIAL-MEDIA SECTION -------*/

#social-media {
  background: #f8f9fa;
  padding: 50px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}

/*----------footer-section------------*/

#footer {
  background-color: #005b96;
  color: #fff;

}
.footer-img {
  width: 100%;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: #005b96;
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  background-image: #005b96;
}
hr {
  background-color: white;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
